.round-btn {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-max-width: 150px;
    -fx-max-height: 150px;
    -fx-font-size: 22px;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-focus-traversable: false;
    -fx-background-color: #a5d8ff;
}

.main {
    -fx-background-color: #d5f1de;
}

.bar-chart .chart-content .chart-plot-background {
    -fx-background-color: transparent;
}

.button, .text-field, .combo-box, .choice-box {
    -fx-border-color: gray;
}

.combo-box, .choice-box {
    -fx-background-color: white;
}

.button {
    -fx-background-color: #a5d8ff;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #7ec8ff;
}

.button:pressed {
    -fx-background-color: #5eb8ff;
}

.bottom-bar {
    -fx-pref-height: 37px;
}

.bottom-bar > .button {
    -fx-pref-height: 2137;
    -fx-pref-width: 2137;
    -fx-border-color: #0a263b;
    -fx-border-width: 1px 1px 0 0;
}

.transparent-bg {
    -fx-background-color: transparent;
}